# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.1.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/19 10:14:22,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/19 18:24:09,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/19 4:29:00,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/19 23:22:03,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/19 4:28:35,34.58,3.908450e+12,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
ride_count_by_type = pyber_data_df.groupby(['type']).count()['ride_id']
ride_count_by_type.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2. Get the total drivers for each city type
driver_count_by_type = city_data_df.groupby(['type']).sum()['driver_count']
driver_count_by_type.head()

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [5]:
#  3. Get the total amount of fares for each city type
total_fares_by_type = pyber_data_df.set_index(['type']).groupby(['type']).sum()['fare']
total_fares_by_type.head()

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [6]:
#  4. Get the average fare per ride for each city type. 
average_fares_per_ride_by_type = pyber_data_df.set_index(['type']).groupby(['type']).sum()['fare'] / pyber_data_df.set_index(['type']).groupby(['type']).count()['fare']
average_fares_per_ride_by_type.head()

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [7]:
# 5. Get the average fare per driver for each city type. 
average_fares_per_driver_by_type = pyber_data_df.set_index(['type']).groupby(['type']).sum()['fare'] / city_data_df.set_index(['type']).groupby(['type']).sum()['driver_count']
average_fares_per_driver_by_type.head()

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [8]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame(
            {'Total Rides':ride_count_by_type,
             'Total Drivers':driver_count_by_type,
             'Total Fares':total_fares_by_type,
             'Average Fare per Ride':average_fares_per_ride_by_type,
             'Average Fare per Driver':average_fares_per_driver_by_type}
            )
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [10]:
#  8. Format the columns.
pyber_summary_df['Total Rides'] = pyber_summary_df['Total Rides'].map('{:,}'.format)
pyber_summary_df['Total Drivers'] = pyber_summary_df['Total Drivers'].map('{:,}'.format)
pyber_summary_df['Total Fares'] = pyber_summary_df['Total Fares'].map('${:,.2f}'.format)
pyber_summary_df['Average Fare per Ride'] = pyber_summary_df['Average Fare per Ride'].map('${:,.2f}'.format)
pyber_summary_df['Average Fare per Driver'] = pyber_summary_df['Average Fare per Driver'].map('${:,.2f}'.format)

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/19 10:14:22,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/19 18:24:09,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/19 4:29:00,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/19 23:22:03,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/19 4:28:35,34.58,3.908450e+12,46,Urban

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
fare_city_date_df = pyber_data_df.groupby(['type','date']).sum().fare.to_frame()
fare_city_date_df.head()

                         fare
type  date
Rural 1/1/19 9:45:36    43.69
      1/11/19 4:39:27   16.42
      1/14/19 15:58:48  54.10
      1/14/19 7:09:17   18.05
      1/15/19 21:44:26  30.26

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index
fare_city_date_df = fare_city_date_df.reset_index()
fare_city_date_df.head(10)

    type              date   fare
0  Rural    1/1/19 9:45:36  43.69
1  Rural   1/11/19 4:39:27  16.42
2  Rural  1/14/19 15:58:48  54.10
3  Rural   1/14/19 7:09:17  18.05
4  Rural  1/15/19 21:44:26  30.26
5  Rural   1/18/19 0:46:28  15.12
6  Rural   1/18/19 7:36:46  43.57
7  Rural  1/19/19 11:40:46  49.44
8  Rural  1/19/19 12:38:07  38.68
9  Rural  1/19/19 20:21:54  56.78

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 

fare_city_date_df = fare_city_date_df.pivot(index='date',columns='type', values='fare')

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
fare_city_date_df = fare_city_date_df.loc['1-01-2019':'4-29-2019']
fare_city_date_df.head(10)

type             Rural  Suburban  Urban
date
1/1/19 0:08:16     NaN       NaN  37.91
1/1/19 0:46:46     NaN     47.74    NaN
1/1/19 12:32:48    NaN     25.56    NaN
1/1/19 14:40:14    NaN       NaN   5.42
1/1/19 14:42:25    NaN       NaN  12.31
1/1/19 14:52:06    NaN     31.15    NaN
1/1/19 17:22:58    NaN       NaN  42.11
1/1/19 21:04:01    NaN       NaN  11.71
1/1/19 2:07:24     NaN     24.07    NaN
1/1/19 3:46:50     NaN       NaN   7.57

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
fare_city_date_df=pd.to_datetime(fare_city_date_df.index)

In [17]:
fare_city_date_df

DatetimeIndex(['2019-01-01 00:08:16', '2019-01-01 00:46:46',
               '2019-01-01 12:32:48', '2019-01-01 14:40:14',
               '2019-01-01 14:42:25', '2019-01-01 14:52:06',
               '2019-01-01 17:22:58', '2019-01-01 21:04:01',
               '2019-01-01 02:07:24', '2019-01-01 03:46:50',
               ...
               '2019-03-09 14:47:25', '2019-03-09 16:59:41',
               '2019-03-09 23:07:34', '2019-03-09 23:45:55',
               '2019-03-09 02:23:55', '2019-03-09 03:25:16',
               '2019-03-09 03:50:21', '2019-03-09 04:39:40',
               '2019-03-09 06:26:29', '2019-03-09 09:54:33'],
              dtype='datetime64[ns]', name='date', length=1652, freq=None)

In [18]:
# 7. Check that the datatype for the index is datetime using df.info()
fare_date_df.info()

NameError: name 'fare_date_df' is not defined

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
fare_date_df=fare_date_df.resample('W').sum()

In [ ]:
# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

ax = fare_date_df.plot(figsize = (20,6))
# Add a title 
ax.set_title("Total Fare by City Type")
#  Add a x- and y-axis label.
ax.set_xlabel("Month")
ax.set_ylabel("Fare ($USD)")
plt.savefig("PyBer_fare_summary.png")
plt.show()